<mat-toolbar
    color="primary"
    class="mat-toolbar-compact"
>

  <div class="toolbar">
    <h1 class="title">
      {{ title | async }}
    </h1>

    <div class="actions">
      <a
          *ngIf="isSigned"
          routerLink="/samples"
          mat-button
          class="item"
      >
        <mat-icon>meeting_room</mat-icon>
        <span class="title">Объекты</span>
      </a>

      <a
          *ngIf="isSigned"
          routerLink="/reports"
          mat-button
          class="item"
      >
        <mat-icon>format_align_left</mat-icon>
        <span class="title">Отчет</span>
      </a>

      <a
          *ngIf="!isSigned; else logoutTemplate;"
          routerLink="/users/sign-in"
          mat-button
          class="item"
      >
        <mat-icon>perm_identity</mat-icon>
        <span class="title">Авторизация</span>
      </a>
    </div>

    <ng-template #logoutTemplate>
      <a
          mat-button
          class="item"
          (click)="logout()"
      >
        <mat-icon>keyboard_return</mat-icon>
        <span class="title">Выход</span>
      </a>
    </ng-template>
  </div>
</mat-toolbar>
