<mat-card [formGroup]="form">
  <header>
    <ng-container *ngIf="objectSample; else newObjectSampleTemplate;">
      Редактирование пробы
    </ng-container>
    <ng-template #newObjectSampleTemplate>
      Новая проба
    </ng-template>
  </header>
  <section>
    <div class="field">
      <mat-form-field class="mat-form-field-full-width">
        <input
            formControlName="code"
            matInput
            placeholder="Шифр пробы:"
            type="text"
        />
      </mat-form-field>
    </div>

    <div class="field">
      <mat-form-field class="mat-form-field-full-width">
        <input
            formControlName="name"
            matInput
            placeholder="Проба:"
            type="text"
        />
      </mat-form-field>
    </div>

    <div class="field">
      <dc-date-time-picker-control
          formControlName="dateTimeOfReceipt"
          placeholder="Дата и время приема пробы:"
      ></dc-date-time-picker-control>
    </div>

    <div class="field">
      <dc-date-time-picker-control
          formControlName="dateTimeOfSampling"
          placeholder="Дата и время отбора пробы:"
      ></dc-date-time-picker-control>
    </div>

    <div class="field">
      <mat-form-field class="mat-form-field-full-width">
        <input
            formControlName="place"
            matInput
            placeholder="Место сбора:"
            type="text"
        />
      </mat-form-field>
    </div>

    <div class="field">
      <mat-form-field class="mat-form-field-full-width">
        <input
            formControlName="target"
            matInput
            placeholder="Цель исследования:"
            type="text"
        />
      </mat-form-field>
    </div>

    <div class="field">
      <mat-form-field class="mat-form-field-full-width">
        <input
            formControlName="value"
            matInput
            placeholder="Результат:"
            type="text"
        />
      </mat-form-field>
    </div>

  </section>

  <footer>
    <button
        color="primary"
        mat-button
        (click)="cancel.emit()"
    >
      Отмена
    </button>

    <button
        color="primary"
        mat-raised-button
        [disabled]="form.invalid"
        (click)="apply()"
    >
      Сохранить
    </button>
  </footer>
</mat-card>

<dc-loader-with-backdrop *ngIf="loading"></dc-loader-with-backdrop>
