@import '../common/styles/colors';

$paginator-height: 80px;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.table {
  width: 100%;
  height: calc(100% - #{$paginator-height});
}

.paginator {
  $border-top-width: 1px;

  display: flex;
  align-items: center;
  height: $paginator-height - $border-top-width;
  border-top: $border-top-width solid $border-color;
}
